<!DOCTYPE html>
<html >
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Simulador</title>

        <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/image.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/menu.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/list.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
        <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">
        <link rel="stylesheet" href="semantic/dist/semantic.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="third-party/semantic-ui-range-master/range.css" media="screen" title="no title" charset="utf-8">
        <link href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="third-party/font-awesome-4.6.3/css/font-awesome.min.css" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="bower_components\ngDatepicker\src\css\ngDatepicker.css">
        <link rel="stylesheet" href="css/app.css" media="screen" title="no title" charset="utf-8">
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }
            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }
            .main.container {
                margin-top: 7em;
            }
            .wireframe {
                margin-top: 2em;
            }
            .ui.footer.segment {
                margin: 5em 0 0;
                padding: 5em 0;
            }
        </style>


        <!-- JQUERY -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="third-party/lodash/lodash.js"></script>


        <!-- ANGULAR -->
        <script src="bower_components/angular/angular.min.js"></script>


        <script type="text/javascript" src="third-party\locales\locales.js"></script>

        <script type="text/javascript" src="bower_components\ngDatepicker\src\js\ngDatepicker.js"></script>



        <script src="third-party/angular-router/angular-router.js"></script>
        <script src="third-party/angular-cookies/angular-cookies.js"></script>
        <script src="third-party/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
        <script src="js/angular-app/services/lb-services.js"></script>

        <!-- Angular app -->
        <script src="js/angular-app/modules/app.js"></script>
        <script src="js/angular-app/controllers/main.controller.js"></script>



        <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="semantic/dist/semantic.min.js"></script>
        <script type="text/javascript" src="third-party/semantic-ui-range-master/range.js"></script>

        <!--
        <script src="bower_components/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
      -->

    </head>
    <body ng-app="app" ng-controller="MainController" id="bodyId">

        <!-- HEADER -->
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    <img class="logo" src="semantic/examples/assets/images/logo.png">
                </a>
                <a href="#" ng-hide="userActionState == 3" ng-click="userActionState = 1" class="item">Ingresa</a>
                <a href="#" ng-hide="userActionState == 3" ng-click="userActionState = 2" class="item">Regístrate</a>
                <a href="#" ng-show="userActionState == 3" ng-click="logOutRequest()" class="item">Salir</a>
            </div>
        </div>
        <!-- END HEADER -->


        <div ng-hide="userActionState == 3" class="ui inverted segment">
          <div ng-show="userActionState == 2" class="ui  inverted form">
            <h3>Registro</h3>
            <div class="four fields">
              <div class="field">
                <label>Email</label>
                <input ng-change="checkEmailRegisterInput()" ng-model="emailRegister" placeholder="Email" type="text" >
                <div ng-show="showEmailRegisterWarning" class="ui right aligned grid">
                  <div class="center aligned one column row">
                    <div class="column">
                      <div class="ui pointing red basic label">
                        Debe ser un email valido
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <label>Contraseña</label>
                <input ng-change="checkPasswordRegisterInput()" ng-model="passwordRegister" placeholder="*******" type="password" >
                <div ng-show="showPasswordRegisterWarning" class="ui right aligned grid">
                  <div class="center aligned one column row">
                    <div class="column">
                      <div class="ui pointing red basic label">
                        Ingrese una contraseña válida
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <label>Nombres</label>
                <input ng-change="checkNameRegisterInput()" ng-model="namesRegister" placeholder="Nombres" type="text">
                <div ng-show="showNameRegisterWarning" class="ui right aligned grid">
                  <div class="center aligned one column row">
                    <div class="column">
                      <div class="ui pointing red basic label">
                        Ingrese solo letras
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Apellidos</label>
                <input ng-change="checkLastNameRegisterInput()" ng-model="lastNameRegister" placeholder="Apellidos" type="text" >
                <div ng-show="showLastNameRegisterWarning" class="ui right aligned grid">
                  <div class="center aligned one column row">
                    <div class="column">
                      <div class="ui pointing red basic label">
                        Ingrese solo letras
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-click="registeringRequest()" class="ui submit button">Registrame</div>
          </div>
          <div ng-show="userActionState == 1" class="ui  inverted form">
            <h3>Login</h3>
            <div class="two fields">
              <div class="field">
                <label>Email</label>
                <input ng-change="checkEmailLoginInput()" ng-model="emailLogin" placeholder="Email" type="text">
                <div ng-show="showEmailLoginWarning" class="ui right aligned grid">
                  <div class="center aligned one column row">
                    <div class="column">
                      <div class="ui pointing red basic label">
                        Debe ser un email valido
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <input ng-change="checkPasswordLoginInput()" ng-model="passwordLogin" placeholder="*******" type="password">
                <div ng-show="showPasswordLoginWarning" class="ui right aligned grid">
                  <div class="center aligned one column row">
                    <div class="column">
                      <div class="ui pointing red basic label">
                        Ingrese una contraseña válida
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-click="loginRequest()" class="ui submit button">Ingresar</div>
          </div>
        </div>






        <!-- BODY -->
        <div class="ui main text container">
            <h1 class="ui header">Simulador AFP</h1>
            <form class="ui form">
                <h4 class="ui dividing header">Datos Personales</h4>
                <div class="three fields">
                    <div class="field">
                        <label>Nombre</label>
                        <input ng-model="userName" type="text" placeholder="opcional">
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input ng-model="userEmail" type="text" placeholder="opcional">
                    </div>
                    <div class="field">
                        <label>Fecha de Nacimiento</label>
                        <ng-datepicker onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="userBornDate" locale="es">
        </ng-datepicker>
                    </div>
                </div>
                <h4 class="ui dividing header">Datos Laborales</h4>
                <div class="field">
                    <div class="ui grid">
                        <div class="right aligned eight wide column">
                            <button ng-click="typeRemuneration = 1" type="button" class="ui button">Remuneracion Constante</button>
                        </div>
                        <div class="left aligned eight wide column">
                            <button ng-click="typeRemuneration = 2" type="button" class="ui button">Remuneracion Intermitente</button>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="">
                        <div ng-hide="typeRemuneration == null" class="ui segment">


                            <div class="ui grid">
                              <div class="sixteen wide column">
                                <p>
                                    Edad de Jubilacion:
                                    <span id="display-3" class="label-jubilation"></span>
                                </p>
                                <div class="ui range" id="range-3"></div>
                              </div>
                            </div>

                            <div  class="ui grid">
                              <div class="six wide column">
                                    <div ng-class="{field:true, error:requiredRemuInterInputColors.dateAtInitWork}">
                                        <label>Inicio de vida laboral<i ng-show="requiredRemuInterInputColors.dateAtInitWork" class="warning circle icon"></i></label>
                                        <ng-datepicker onkeydown="return false" ng-change="validDateInitWork()" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="dateAtInitWork" locale="es">
                                        </ng-datepicker>
                                    </div>
                                </div>
                            </div>


                            <div ng-show="typeRemuneration == 1" class="two fields">
                                <div class="field">
                                    <label>Sueldo Mensual</label>
                                    <input ng-model="mothEarnIt" type="number" >
                                </div>
                                <div class="field">
                                    <label>Sueldos al año</label>
                                    <select  ng-model="cantPaymentPerYear" class="ui fluid dropdown">
                                        <option selected value="">Seleccionar</option>
                                        <option value="12">12</option>
                                        <option value="14">14</option>
                                    </select>
                                </div>
                            </div>



                            <div ng-show="typeRemuneration == 2" class="ui grid">

                                <div class="four wide column">
                                    <div ng-class="{field:true, error:requiredRemuInterInputColors.remunerationCant}">
                                        <label>Remuneracion<i ng-show="requiredRemuInterInputColors.remunerationCant" class="warning circle icon"></i></label>
                                        <input ng-model="objRemuneration.remunerationCant" type="text">
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <div ng-class="{field:true, error:requiredRemuInterInputColors.dateBegin}">
                                        <label>Desde:<i ng-show="requiredRemuInterInputColors.dateBegin" class="warning circle icon"></i></label>
                                        <ng-datepicker onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="objRemuneration.dateBegin" locale="es">
                                        </ng-datepicker>
                                    </div>
                                </div>
                                <div class="four wide column">
                                  <div ng-class="{field:true, error:requiredRemuInterInputColors.dateEnd}">
                                      <label>Hasta:<i ng-show="requiredRemuInterInputColors.dateEnd" class="warning circle icon"></i></label>
                                      <ng-datepicker onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="objRemuneration.dateEnd" locale="es">
                                      </ng-datepicker>
                                  </div>
                                </div>
                                <div class="four wide column bottom aligned content">
                                  <button id="btn-plus-Inter" ng-click="agregateNewRemuneration()" type="button" class="fluid ui button">
                                    <i class="plus icon"></i>
                                  </button>
                                </div>
                            </div>

                            <div ng-show="typeRemuneration == 2" class="ui grid">
                                <div id="remu-tline" class="sixteen wide column">


                                <ng-repeat ng-repeat="remu in arrRemunerations">
                                      {{assignTimeLineRemunerationDates($index);}}
                                      <div id={{$index}} ng-style="remusTags" class="time-line-divider"  data-content={{remu.dateViewFormat}} data-position="top center">
                                        {{remu.remunerationViewFormat}}<span ng-click="deleteRemu($index)" class="close-time-divider">x</span>
                                      </div>
                                </ng-repeat>




                                  <hr class="time-line">
                                  <i class="time-line-mark end-time-line">|</i>
                                  <i class="time-line-mark begin-time-line">|</i>
                                </div>
                            </div>
                            <div ng-show="typeRemuneration == 2" class="ui grid">
                              <div class="sixteen wide column">
                                <div id="" class="begin-time-label">{{dateViewDisplayInitWork}}</div>
                                <div ng-hide="true" id="remu-beg" class="begin-time-label">{{dateAtInitWork}}</div>
                                <div id="remu-end" class="end-time-label"></div>
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
                <h4 class="ui dividing header">Fondo AFP</h4>
                <div class="field">
                    <div class="ui grid">
                        <div class="right aligned eight wide column">
                            <button ng-click="typeSelectionFondoAfp = 1" type="button" class="ui button">Tasas segun AFP</button>
                        </div>
                        <div class="left aligned eight wide column">
                            <button ng-click="typeSelectionFondoAfp = 2" type="button" class="ui button">Ingreso Manual</button>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="">
                        <div ng-show="typeSelectionFondoAfp == 2" class="ui segment">
                            <div class="ui grid">


                                <!--
                                <div class="four wide column">
                                    <div ng-class="{field:true, error:requiredAfpManualInputColors.disminucionFlujoAnual}">
                                        <label>Disminucion de tasa por Flujo anual (%):<i ng-show="requiredAfpManualInputColors.disminucionFlujoAnual" class="warning circle icon"></i></label>
                                        <input ng-model="objFondoPersonalizado.disminucionFlujoAnual" type="text" value="">
                                    </div>
                                </div>
                                <div class="four wide column">
                                    <div ng-class="{field:true, error:requiredAfpManualInputColors.tasaFlujoInicial}">
                                        <label>Comision por Flujo Inicial (%):<i ng-show="requiredAfpManualInputColors.tasaFlujoInicial" class="warning circle icon"></i></label>
                                        <input ng-model="objFondoPersonalizado.tasaFlujoInicial" type="text" value="">
                                    </div>
                                </div>
                                -->

                                <div class="five wide column">
                                    <div ng-class="{field:true, error:requiredAfpManualInputColors.tasaRentabilidad}">
                                        <label>Rentabilidad de AFP(%):<i ng-show="requiredAfpManualInputColors.tasaRentabilidad" class="warning circle icon"></i></label>
                                        <input ng-model="objFondoPersonalizado.tasaRentabilidad" type="text" value="">
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <div ng-class="{field:true, error:requiredAfpManualInputColors.comisionSaldo}">
                                        <label>Comision por Saldo(%):<i ng-show="requiredAfpManualInputColors.comisionSaldo" class="warning circle icon"></i></label>
                                        <input ng-model="objFondoPersonalizado.comisionSaldo" type="text" value="">
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <div ng-class="{field:true, error:requiredAfpManualInputColors.primaDeSeguro}">
                                        <label>Prima de Seguros(%):<i ng-show="requiredAfpManualInputColors.primaDeSeguro" class="warning circle icon"></i></label>
                                        <input ng-model="objFondoPersonalizado.primaDeSeguro" type="text" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="ui grid">

                                <div class="five wide column">
                                    <div class="field">
                                        <label>Desde:</label>
                                        <ng-datepicker  onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="objFondoPersonalizado.dateBegin" locale="es">
                                    </div>
                                </div>
                                <div class="five wide column">
                                  <div class="field">
                                      <label>Hasta:</label>
                                      <ng-datepicker  onkeydown="return false" onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="objFondoPersonalizado.dateEnd" locale="es">
                                  </div>
                                </div>
                                <div class="five wide column bottom aligned content">
                                  <button ng-hide="arrObjFondosPersonalizados.length > 0" ng-click="addFondoPersonalizado()" class="fluid ui button">
                                    <i class="plus icon"></i>
                                  </button>
                                </div>
                            </div>

                            <div class="ui grid">
                                <div id="remu-tline2" class="sixteen wide column">


                                <ng-repeat ng-repeat="fondos in arrObjFondosPersonalizados">
                                    <div ng-style="fmanTags" class="time-line-divider">
                                        {{fondos.tasaRentabilidad}}<span ng-click="deleteFondoMan($index)"  class="close-time-divider">x</span>
                                    </div>
                                </ng-repeat>


                                  <hr class="time-line">
                                  <i class="time-line-mark end-time-line">|</i>
                                  <i class="time-line-mark begin-time-line">|</i>
                                </div>
                            </div>
                            <div  class="ui grid">
                              <div class="sixteen wide column">
                                <div id="" class="begin-time-label">{{dateViewDisplayInitWork}}</div>
                                <div ng-hide="true" id="" class="begin-time-label">{{dateAtInitWork}}</div>
                                <div id="FM-end" class="end-time-label"></div>
                              </div>
                            </div>



                        </div>
                        <div ng-show="typeSelectionFondoAfp == 1" class="ui segment">
                            <div class="ui grid">
                                <div class="four wide column">
                                    <label>AFP
                                    </label>
                                    <!--
                                    <select ng-model="afpSelected" class="ui fluid dropdown">
                                      <option value="">Seleccionar</option>
                                      <ng-repeat ng-repeat="afp in arrAfpNamesFromDb">
                                        <option value="afp.id">{{afp.nombre}}</option>
                                      <ng-repeat>
                                    </select>-->

                                    <select ng-change="selectFondosFromAfp()" ng-model="afpSelected" class="ui fluid dropdown">
                                        <option selected value="">Seleccionar</option>
                                        <option ng-repeat="afp in arrAfpNamesFromDb" value="{{afp.id}}">{{afp.nombre}}</option>
                                    </select>


                                </div>
                                <div class="twelve wide column bottom aligned content">
                                    <ng-repeat ng-repeat="fondo in arrayAfpsFromDb">
                                        <button ng-click="setFondoDeAfp(fondo)" type="button" class="ui button">{{fondo.nombreFondo}}</button>
                                    <ng-repeat>
                                </div>
                            </div>
                            <div class="ui grid">
                                <div class="four wide column">
                                </div>
                                <div class="four wide column">
                                    <label ng-show="objFondoAutomatico.comisionSaldo != null">{{"Tasa de Comision por Saldo:  "+objFondoAutomatico.comisionSaldo+"%"}}</label>
                                </div>
                                <div class="four wide column">
                                    <label ng-show="objFondoAutomatico.primaDeSeguro != null">{{"Prima de Seguros:  "+objFondoAutomatico.primaDeSeguro+"%"}}</label>
                                </div>
                                <div class="four wide column">
                                    <label ng-show="objFondoAutomatico.tasaRentabilidad != null">{{"Rentabilidad:  "+objFondoAutomatico.tasaRentabilidad+"%"}}</label>
                                </div>

                                <!--
                                <div class="four wide column">
                                    <label ng-show="objFondoAutomatico.tasaFlujoInicial != null">{{"Comision por Flujo Inicial:  "+objFondoAutomatico.tasaFlujoInicial+"%"}}</label>
                                </div>
                                <div class="four wide column">
                                    <label ng-show="objFondoAutomatico.disminucionFlujoAnual != null">{{"Disminucion de tasa anual:  "+objFondoAutomatico.disminucionFlujoAnual+"%"}}</label>
                                </div>
                              -->
                            </div>

                            <div class="ui grid">
                                <div class="two wide column"></div>
                                <div class="two wide column middle aligned content">
                                    <label>{{objFondoAutomatico.nombreFondo || "Seleccione Fondo"}}</label>
                                </div>
                                <div class="four wide column">
                                    <div class="field">
                                        <label>Desde:</label>
                                        <ng-datepicker onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="objFondoAutomatico.dateBegin" locale="es">
                                    </div>
                                </div>
                                <div class="four wide column">
                                  <div class="field">
                                      <label>Hasta:</label>
                                      <ng-datepicker onkeydown="return false" format="YYYY-MM-DD" view-format="Do MMMM YYYY" ng-model="objFondoAutomatico.dateEnd" locale="es">
                                  </div>
                                </div>
                                <div class="four wide column bottom aligned content">
                                  <button ng-click="addNewFondoAfpToArray()" class="ui button fluid">
                                    <i class="plus icon"></i>
                                  </button>
                                </div>
                            </div>
                            <div class="ui grid">
                                <div id="remu-tline3" class="sixteen wide column">
                                <ng-repeat ng-repeat="fondos in arrFondosDeAfpAutomaticos">
                                    <div ng-style="fautoTags" class="time-line-divider">
                                        {{fondos.nombreFondo+"-Rentabilidad al "+fondos.tasaRentabilidad+"%"}}<span ng-click="deleteFondoAutomatico($index)"  class="close-time-divider">x</span>
                                    </div>
                                </ng-repeat>
                                  <hr class="time-line">
                                  <i class="time-line-mark end-time-line">|</i>
                                  <i class="time-line-mark begin-time-line">|</i>
                                </div>
                            </div>
                            <div  class="ui grid">
                              <div class="sixteen wide column">
                                <div id="" class="begin-time-label">{{dateViewDisplayInitWork}}</div>
                                <div ng-hide="true" id="" class="begin-time-label">{{dateAtInitWork}}</div>
                                <div id="FA-end" class="end-time-label"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="userActionState == 3" ng-click="exportToExcel('#table1')" class="ui button" tabindex="0">Descargar en Excel</div>
                <div ng-click="generateCalculation()" class="ui button" tabindex="0">Calcular</div>
            </form>

        </div>
        <!--RESULTADOS DE CALCULOS -->


        <!--
        <table class="ui celled table">
              <thead>
                <tr>
                  <th>Año</th>
                  <th>Remuneracion Anual</th>
                  <th>Aporte a la AFP</th>
                  <th>Rentabilidad</th>
                  <th>Valor de Rentabilidad</th>
                  <th>Fondo Acumulado</th>
                  <th>Comision de AFP</th>
                </tr>
              </thead>
                <ng-repeat ng-repeat="data in arrTableView track by $index">
                    <tr>
                      <td> dwdwdwdwd </td>
                      <td> dwdwdwdwd </td>
                      <td> dwdwdwdwd </td>
                      <td> dwdwdwdwd </td>
                      <td> dwdwdwdwd </td>
                      <td> dwdwdwdwd </td>
                      <td> dwdwdwdwd </td>
                    </tr>
                </ng-repeat>
            </table>
            -->

            <div id="results" class="ui grid">
              <div class="sixteen wide column">
                <div class="ui label">
                  TREA
                  <div class="detail">{{aditionalData.trea}}</div>
                </div>
                <div class="ui label">
                  VAN
                  <div class="detail">{{aditionalData.van}}</div>
                </div>
              </div>
            </div>

            <table id="table1" class="ui celled table">
                <thead>
                <tr>
                  <th>Año</th>
                  <th>Remuneracion Mensual</th>
                  <th>Aporte a la AFP</th>
                  <th>Valor de Rentabilidad</th>
                  <th>Rentabilidad</th>
                  <th>Fondo Acumulado</th>
                  <th>Comision de AFP</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="x in arrTableView">
                <td>{{ x.year }}</td>
                <td>{{ x.remuneration }}</td>
                <td>{{ x.paidToAfp }}</td>
                <td>{{ x.rateProfitability }}</td>
                <td>{{ x.profitability }}</td>
                <td>{{ x.accumulatedFund }}</td>
                <td>{{ x.commission }}</td>
              </tr>
              </tbody>
            </table>





        <!-- END BODY -->

        <!-- FOOTER -->
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <img src="semantic/examples/assets/images/logo.png" class="ui centered mini image">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->







        <script type="text/javascript">



            // Semantic UI Range
  					$('#range-3').range({
                min: 20,
                max: 75,
                start: 65,
                onChange: function(value) {

                  if(angular.element('#bodyId').scope()){
                    /*Borra remuneraciones agregadas si se cambia la fecha de jubilacion*/
                      angular.element('#bodyId').scope().deleteAllArraysInvolved();
                      angular.element('#bodyId').scope().$apply();
                  }
                  $('#display-3').html(value);

                  if(moment(new Date($('#remu-beg')[0].innerHTML)).add(+value, 'y').format('Do MMMM YYYY') != "Invalid date"){
                    $('#remu-end').html(moment(new Date($('#remu-beg')[0].innerHTML)).add(+value, 'y').format('Do MMMM YYYY'));
                    $('#FM-end').html(moment(new Date($('#remu-beg')[0].innerHTML)).add(+value, 'y').format('Do MMMM YYYY'));
                    $('#FA-end').html(moment(new Date($('#remu-beg')[0].innerHTML)).add(+value, 'y').format('Do MMMM YYYY'));
                  }
                }
            });
        </script>
    </body>
</html>
